.Password {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F3F3;
  min-height: 100%;
  position: relative;
}

.password-card {
  margin: 58px 0px;
  padding: 16px;
  display: block;
  width: 100%;
  max-width: 367px;
  background-color: #FFFFFF;
  min-height: 100%;
  position: relative;
}

.password-card h1 {
  padding-bottom: 40px;
}

.password-button {
  width: 100%;
  max-width: none;
}

.password-card .bx--form-item  {
  margin-bottom: 16px;
}

.password-subheading {
  font-size: 14px;
  color: #161616;
}

.password-link-underlined {
  font-size: 14px;
  text-decoration: underline;
  line-height: 18px;
  color: #0F61FD;
  margin: 0;
  padding: 0;
  float: right;
}

.password-link-underlined:hover {
  cursor: pointer;
}

.password-line {
  border-bottom: 1px solid #848484;
  margin-top: 48px;
  margin-bottom: 24px;
}

.password-notification {
  position: absolute;
  z-index: 99;
}