.about-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 16px;
  position: relative;
}

.about-page-contents {
  padding-top: 47px;
  width: 100%;
  height: 100%;
  max-width: 598px;
}

.about-page-contents h1 {
  border-bottom: 3px solid #0f61fd;
  margin-bottom: 42px;
  padding-bottom: 8px;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.about-contents {
  padding-bottom: 98px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-container {
  min-height: 250px;
  margin-bottom: 18px;
  width: 100%;
  max-width: 598px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.bottom-spacer {
  height: 400px;
}

.about-card * + * {
  margin-top: 0.75em;
}

a {
  text-decoration: none;
}

.link-group img {
  height: 1.25em;
  position: relative;
  top: 3px;
  margin-right: 1em;
}

.headshot {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 15px;
}

.card-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.card-text * + * {
  margin-top: 0.5em;
}