.SubmitNews {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
align-items: center;
padding: 0 16px;
}
.submitnews-card{
  padding-top: 47px;
  width: 100%;
  max-width: 598px;
}

.submitnews-card h1 {
  border-bottom: 3px solid #0F61FD;
  margin-bottom: 42px;
  padding-bottom: 8px;
}