.left-group {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    letter-spacing: 0.16px;
    color: #C6C6C6;
    opacity: 1;
    padding-left: 1rem;

}

.right-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-group a {
    padding-left: 16px;
    padding-right: 16px;
    width: 120px;
    height: 18px;
    text-align: left;
    letter-spacing: 0.16px;
    color: #C6C6C6;
    opacity: 1;
}

.right-group a {
    padding-left: 10px;
    padding-right: 12px;
    /* width: 120px; */
    height: 18px;
    text-align: right;
    letter-spacing: 0.16px;
    color: #C6C6C6;
    opacity: 1;
}

.footer .right-group img {
    padding-right: 0.75em;
    margin-top: 2px;
    height: 12px;
}

.link-div {
    display: flex;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: #C6C6C6;
}

.footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 49px;
    right: 0;
    bottom: 0;
    left: 0;
    background: #161616 0% 0% no-repeat padding-box;
    clear: both;
    margin-top: auto;
  }
