.dashboard-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 16px;
  position: relative;
}

.dashboard-details-card {
  padding-top: 47px;
  width: 100%;
  height: 100%;
  max-width: 598px;
}

.dashboard-details-card h1 {
  border-bottom: 3px solid #0F61FD;
  margin-bottom: 42px;
  padding-bottom: 8px;
}

.dashboard-details-card h3 {
  margin-bottom: 10px;
}

.submission-details {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-row-gap: 5px;
  margin: 15px 0;
}

.submission-details-left {
  font-weight: bold;
}

.submission-source {
  margin-top: 5px;
}

.dashboard-details-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}
